COMPOSE_PROJECT_NAME=meet-me-at
TZ=Europe/Zagreb

# Postgres

POSTGRES_ADMIN_USER=meet_me_at_admin
POSTGRES_ADMIN_PASSWORD=change-me-before-starting
POSTGRES_DEFAULT_DB=postgres

KEYCLOAK_DB_NAME=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=change-me-before-starting

# Keycloak

KEYCLOAK_BOOTSTRAP_ADMIN_USERNAME=admin
KEYCLOAK_BOOTSTRAP_ADMIN_PASSWORD=change-me-before-starting
KEYCLOAK_HOSTNAME=http://localhost:8081